#selectWager {
    width: 178px;
}
.panel-group .panel {
    border-radius: 10px;
    box-shadow: none;
    border-color: #EEEEEE;
    background: #00724b;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}
.s-wager, #selectWager {
    display: inline;
    margin-bottom: 15px;
}
.panel-title > a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    background: #00724b;
    color: #ffffff;
}
.panel-body {
    background: #ffffff;
    color: #328e6e;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding:0;
}
.more-less {
    float: right;
    color: #ffffff;
}
.form-control:focus {
    border-color: #00724b;
    box-shadow: inset 0 1px 1px rgba(76,192,152, 0.75), 0 0 8px rgba(0,114,75, 0.7);
}
select option:hover {
    color: #000;
    box-shadow: inset 20px 20px #00f;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}
.horse-track {
    padding-top: 60px;
    padding-bottom: 60px;
}
.title-menu {
    font-weight: bold;
}
.raceNum:hover, .raceNum:focus, .raceNum:active{cursor: pointer; color: #00724b;}
.raceNum, .noRace{padding: 5px 25px; color: #333;}
#date {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
#betAmount {
    width: 200px;
}
#betAmount, #submitBetButton {
    display: inline;
}
.clock, #raceDiv, #betTicket{display: none;}
div#raceNumberAndPostTime {
    margin: 20px;
    text-align: center;
    font-size: 18px;
}
div#raceTrackName {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    background: #ededed;
    border: 1px solid #dcdcdc;
}
.pp-class,.tdPP  {
    width: 100px;
    text-align: center;
}
.col-tracks {
    background: #ededed;padding: 10px 20px; border: 1px solid #dcdcdc; max-height: 756px; overflow: auto;
}
.col-tracks::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
}
#betActions{text-align: center;}
#confirmBet{margin-right:40px;}
#ddBoard{margin:20px;text-align:center;font-size:18px;}
#tempRaces table tr,th{text-align: center;}
th.pp-class{width:6%;}
td.pp-class{font-weight: bold;}
table.dailydouble th:nth-child(2){width:6%;}
body{background: transparent;overflow-y: scroll !important;}
#upcomingRacesDiv{text-align: center;}
#upcomingRacesDiv > h1, #confirmationHeader{background: #ededed;padding: 10px;color:#000;font-weight: bold;text-align: center;}
.loader{
    background: url("../images/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:100%;
    position: absolute;
    top:150px;
}
.loader3{
    background: url("../images/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    right:0;
    display: none;
}
thead{background: #e6efff;}
.sa-errors-container{display: none !important;}